<header class="pl-4 pr-4 pt-5">
    <div class="flex items-start justify-between pl-[1.6vw] pr-[1.6vw] pt-4">
        <nav
            class="flex flex-row gap-10.5  text-[max(1.5vw,1rem)]" >
            <a href="/" class="nav-link w-fit leading-none">Projekte</a>
            <a href="/about" class="nav-link w-fit leading-none">Über mich</a>
            <a href="/contact" class="nav-link w-fit leading-none">Kontakt</a>
        </nav>

        <div class="flex gap-2 text-[max(1.2vw,0.5rem)] pr-2 font-(Darker_Grotesque)">
            <a id="lang-de" class="hover:underline">DE</a>
            <span>|</span>
            <a id="lang-en" class="hover:underline">EN</a>
        </div>
    </div>
</header>