<header>
    <div class="fixed top-0 left-0 h-full sm:w-[3rem] flex flex-col items-center justify-between bg-[#3c0505] xl:w-[4rem]">
        <nav
            class="flex flex-row gap-10.5 xl:text-[20px] sm:text-[15px] flex items-start justify-between rotate-180 [writing-mode:vertical-lr] w-full h-full mb-[5rem] mt-[5rem]">
            <a href="/about" class="nav-link w-fit leading-none self-center">Über mich</a>
            <a href="/contact" class="nav-link w-fit leading-none self-center ">Kontakt</a>
            <a href="/" class="nav-link w-fit leading-none self-center">Projekte</a>
        </nav>
    </div>

    <div class="flex  gap-2 text-[max(1.2vw,0.5rem)] pr-2 font-(Darker_Grotesque) justify-end pr-[2rem] pt-[2rem] ">
        <a id="lang-de" class="hover:underline">DE</a>
        <span>|</span>
        <a id="lang-en" class="hover:underline">EN</a>
    </div>
</header>