@import "tailwindcss";

.active-link {
    @apply font-extrabold;
}

@font-face {
    font-family: 'DarkerGrotesque';
    src: url('../assets/fonts/DarkerGrotesque/DarkerGrotesque.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'DarkerGrotesque';
    src: url('../assets/fonts/DarkerGrotesque/DarkerGrotesque-SemiBold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'DarkerGrotesque';
    src: url('../assets/fonts/DarkerGrotesque/DarkerGrotesque-Medium.woff2');
    font-weight: 500;
}


@font-face {
    font-family: 'ArchivoBlack';
    src: url('../assets/fonts/ArchivoBlack.woff2');
}

@theme {
    --font-darkerGrotesque: "DarkerGrotesque";
    --font-archivoBlack: "ArchivoBlack";

    --color-standard: #37210b;
}
.swiper-slide-active {
    opacity: 1 !important
}

.swiper-button-prev::after {
    @apply text-black
}

.swiper-button-next::after {
    @apply text-black
}

@layer utilities {
    .project-images {
        @apply w-full h-auto transition-all duration-500 ease-in-out group-hover:blur-sm;
    }
    .project-images-titles {
        @apply absolute inset-1 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 select-none;
    }
}